<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  <div class="container-fluid">
    <h1>gSchool Reads</h1>
    <nav>
      <a href="/" >Home</a >
      |
      <a href="/authors">Authors</a>
      |
      <a href="/books">Books</a>
      |
      <a href="/authors/new">Add New Author</a>
      |
      <a href="/books/new">Add New Book</a>
    </nav>
    {{{body}}}
  </div>
  </body>
</html>
